<style type="text/css">
<meta name="viewport" content="width=device-width"/>

#Layer1 {	
	width:1000px;
	height:251px;
	z-index:1;
	left: 236px;
	top: 256px;
}
#Layer2 {
	width:1000px;
	height:115px;
	z-index:1;
	left: 119px;
	top: 177px;
}

</style>
{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
	<h1>MUNICIPIO LOS REYES, LA PAZ </h1>
	{% endblock %}

{% block contenido %}
  <h2 align="center">&nbsp;</h2>
  <div id="Layer2" align="justify">
  <meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="width=device-width"/>
      <p>La Paz, conocido popularmente como&nbsp;Los Reyes La Paz, es  un&nbsp;municipio&nbsp;en el&nbsp;estado&nbsp;de&nbsp;M&eacute;xico,&nbsp;M&eacute;xico. Est&aacute;  situado en el oriente del estado de M&eacute;xico y al occidente del&nbsp;Distrito  Federal, con el que limita, por lo que forma parte de la&nbsp;Zona  Metropolitana de la Ciudad de M&eacute;xico. El municipio cubre un &aacute;rea total de 26,71  km&sup2; y el censo del a&ntilde;o&nbsp;2005&nbsp;divulg&oacute; una poblaci&oacute;n de 232.546  habitantes. Su cabecera es la ciudad de&nbsp;Los Reyes Acaquilpan. El clima que  predomina es el&nbsp;templado&nbsp;subh&uacute;medo con lluvias en verano. Se  encuentra, principalmente, sobre dos zonas orogr&aacute;ficas: planicie lacustre con  pendientes bajas en el oriente y la zona del volc&aacute;n El Pino con pendientes  variables entre 5% y 25%. El &uacute;nico cuerpo de agua es el r&iacute;o&nbsp;La Compa&ntilde;&iacute;a.</p>
  </div>
  <h2 align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60225.96479547237!2d-98.98697470765093!3d19.363834779721362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e26fecf8b2fb%3A0xbc11ded2d986e4a9!2sLos+Reyes+Acaquilpan%2C+M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1466567900334" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></h2>
  <p align="center">&nbsp;</p>
  <h2 align="center">Su escudo y otros datos adicionales:</h2>
  <p align="center"><img src="../static/img/Glifo_losreyeslapaz.PNG" width="393" height="429"> <img src="../static/img/super.png" width="286" height="481"></p>
  <p align="center">{% endblock %}</p>
