<style type="text/css">
<meta name="viewport" content="width=device-width"/>
<!--
#Layer1 {	position:absolute;
	width:1030px;
	height:251px;
	z-index:1;
	left: 236px;
	top: 256px;
}
-->
</style>
{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
	<h1>MUNICIPIO LOS REYES, LA PAZ </h1>
	{% endblock %}

{% block contenido %}
  <h2 align="center">&nbsp;</h2>
  <h2 align="center">Historia del Municipio Los Reyes, La Paz </h2>
  <p align="justify">&nbsp;</p>
  <p><center><img src="../static/img/histo.png" alt="i" width="300" height="500" /></center></p>
  <div id="Layer1">
    <div align="justify">
      <p>El municipio de La Paz perteneci&oacute; a la regi&oacute;n dominada por los acolhuas, localizado antiguamente en Texcoco. En estos tiempos exist&iacute;an luchas de car&aacute;cter econ&oacute;mico y pol&iacute;tico, lo que genero una alianza entre Texcoco, Tacuba y Tenochtitlan contra el pueblo Xaltocan. Con la llegada de los espa&ntilde;oles fueron sometidos, lo cual forjo un cambio en los aspectos religiosos, costumbres y lengua.</p>
      <p>El municipio de La Paz quedo integrado al Marquesado y fue incluida dentro de las provincias de M&eacute;xico, administrativamente La Paz dependi&oacute; de la alcald&iacute;a de Texcoco, surgen las comunidades como: La Magdalena Atlicpan; San Sebasti&aacute;n Chimalpa; San Salvador Tecamachalco y los Reyes Acaquilpan, las cuales recibieron su advocaci&oacute;n en 1617 por el virrey Don Diego Fern&aacute;ndez de C&oacute;rdoba.</p>
      <p>En 1875 el presidente Lic. Sebasti&aacute;n Lerdo de Tejada decreto: &ldquo;Art. 1, Se erigen en municipios los pueblos de La Magdalena Atlicpan, San Sebasti&aacute;n Chimalpa, San Salvador Tecamachalco de la municipalidad Chimalhuacan-Atenco del distrito de Texcoco siendo su cabecera la Magdalena Atlicpan&rdquo; (Casa de la Cultura, 2009).</p>
      <p>Para 1899 por la legislatura Estatal se erige como municipio a La Paz, conformado con los pueblos La Magdalena Atlicpan (atl, agua y de icpac, encima y significa &ldquo;encima del agua&rdquo;), San Sebasti&aacute;n Chimalpa (de chunalli, escudo o rodela, de atl, agua de pan, significa: en el agua o rio de los escudos), San Salvador Tecamachalco (tetl:piedra, de camachalli, quijadas de piedra y de co, en y significa&rdquo; en las quijadas de la piedra&rdquo;) y los Reyes Acaquilpan (&ldquo;sobre las ca&ntilde;as con quelites&rdquo;.).</p>
      <p>En 1927 el municipio comenz&oacute; a desarrollarse y al ubicarse cerca del Distrito Federal se transform&oacute; en cuidad. Con la apertura del transporte colectivo metro en 1992, se crearon m&aacute;s empleos. Posteriormente el municipio de La Paz se desarrollo econ&oacute;mico, social y pol&iacute;ticamente.</p>
    </div>
 <h2 align="center">Más Datos </h2>
<p><center><img src="../static/img/otros.png" alt="i" width="500" height="600" /></center></p>
  </div>
  <p align="justify">&nbsp;</p>
  <p align="center">{% endblock %}</p>
