{% extends 'base.html' %}
{% block titulo %}CULTURA{% endblock %}
{% block encabezado %} 
	<h1>CULTURA y TRADUCION</h1>
{% endblock %}
{% block contenido %}
		<div align="center">
		<h2><center>CULTURA</center></h2>
		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/MZ6_U8I9bQY" frameborder="0" allowfullscreen></iframe></p>
		  <p><iframe width="420" height="315" src="https://www.youtube.com/embed/mmlPTr009Sg" frameborder="0" allowfullscreen></iframe></p>
		  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/5xd3D6iy95k" frameborder="0" allowfullscreen></iframe></p>
		  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/UgwbjK68qSk" frameborder="0" allowfullscreen></iframe>
		  </p>
		  <embed wmode="transparent" src="http://www.xatech.com/web_gear/chat/chat.swf" quality="high" width="540" height="405" name="chat" FlashVars="id=217719939" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://xat.com/update_flash.php" /><br><small><a target="_BLANK" href="http://xat.com/web_gear/?cb">Get your own Chat Box!</a> <a target="_BLANK" href="http://xat.com/web_gear/chat/go_large.php?id=217719939">Go Large!</a></small><br>
		</div>
{% endblock %}
