{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} NOMECLATURA {% endblock %}

{% block encabezado %} 
	<h1>MUNICIPIO LOS REYES, LA PAZ </h1>
	{% endblock %}

{% block contenido %}
  <h2 align="center">&nbsp;</h2>
  <h2 align="center">Datos del Municipio Los Reyes, La Paz </h2>
  <p align="justify">&nbsp;</p>
  <div id="Layer1">
    <div align="justify">
      <p><h2 align="center">Datos</h2>
  <p align="center"><img src="../static/img/otros.PNG" width="393" height="429"> </p>
  <p align="center">{% endblock %}</p></p>
    </div>
  </div>
  <p align="justify">&nbsp;</p>
  <p align="center">{% endblock %}</p>
