<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:674px;
	height:362px;
	z-index:1;
	left: 528px;
	top: 250px;
}
-->
</style>
{% extends 'base.html' %}
{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
  <h1>ZONA ARQUEOLÓGICA </h1>
  <p>{% endblock %}
    
    {% block contenido %}</p>
  <h2 align="center">&nbsp;</h2>
  <h2 align="center">Zona Arqueológica </h2>
  <p align="center">&nbsp;</p>
  <p><img src="../static/img/zona.png" width="500" height="329" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center"><strong>Acceso</strong><br />
    <br />
Se llega a la Zona Arqueológica Los Reyes La Paz por la carretera  México-Texcoco; en Los Reyes se toma hacia la derecha por la calle Prolongación  Benito Juárez hasta la zona arqueológica.<br />
<br />
<br />
<strong>Servicio disponible en la Zona Arqueológica Los Reyes La Paz</strong><br />
<br />
Visitas guiadas previa cita con el Centro INAH Estado de México.<br />
<br />
<br />
<strong>Horario</strong><br />
<br />
Martes&nbsp; a domingo de 10 a 17 horas.<br />
<br />
<br />
<strong>Contacto</strong><br />
<br />
<strong>Arqueólogo Responsable de la Zona Arqueológica Los Reyes La Paz</strong><br />
Arqlgo. Edgar Rosales de la Rosa<br />
<strong>Correos electrónicos:&nbsp;</strong><a href="mailto:cinah_edomex@inah.gob.mx">cinah_edomex@inah.gob.mx</a>&nbsp;/&nbsp;&nbsp;<a href="mailto:jorge_valencia@inah.gob.mx">jorge_valencia@inah.gob.mx</a><br />
<strong>Teléfonos:</strong>&nbsp;01 (722) 215 – 7080 / 01 (722) 215 – 8569 / 01 (722) 213  – 9581.&nbsp;<strong>Ext.&nbsp;</strong>198031.</p>
<p align="center">Zona arqueología de los reyes acaquilpan  video:</p>
<p align="center"><a href="https://www.youtube.com/watch?v=xIzAbOSlZ3M">https://www.youtube.com/watch?v=xIzAbOSlZ3M</a></p>
<p align="center">Zona de Ubicación: </p>
<p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.3842967991877!2d-98.9858369860147!3d19.35250584825374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e29c75f219a7%3A0xf24315b09e343180!2sZona+Arqueol%C3%B3gica+Los+Reyes+La+Paz!5e0!3m2!1ses-419!2smx!4v1466558695595" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
<div align="center"></div>
<div id="Layer1">
    <p align="justify">En el municipio de la paz domina la arquitectura religiosa, se refleja a su máximo esplendor en la iglesia de Santa María Magdalena, ubicas en el pueblo del mismo nombre. Esta iglesia data del siglo XVI, aun conserva algunos de los elementos principales de su época. Tras una remoción en el año del 2006 la iglesia actualmente se mantiene como en su inicio.</p>
    <p align="justify">De gran importancia tambi&eacute;n se encuentra la iglesia de San Sebasti&aacute;n chimalpa ubicada en el mismo poblado, esta contiene en su interior la pila bautismal labrada en piedra, de una sola pieza hecha en el siglo XVI. La iglesia de la cabecera municipal dedicada a los santos reyes, construida en el siglo de XVI de dimensiones peque&ntilde;as, para poca poblaci&oacute;n.</p>
    <p align="justify"><br />
      El municipio de la paz posee una zona arqueol&oacute;gica en la cual se encontr&oacute; vestigios de las culturas prehisp&aacute;nicas, estos restos se encuentran en lo que ahora es la colonia ampliaci&oacute;n los reyes. A inicios de la d&eacute;cada de 1970 fue descubierta por el arque&oacute;logo Eduardo Contreras. Consiste en una pir&aacute;mide principal y una peque&ntilde;a &aacute;rea habitacional. La pir&aacute;mide est&aacute; orientada al poniente, por lo que el doctor Ra&uacute;l Garc&iacute;a Ch&aacute;vez supone que estaba dedicada a Huitzilopochtli. El &aacute;rea habitacional se encuentra unida a la pir&aacute;mide. Consiste en una serie de cuartos donde probablemente habitaron los sacerdotes; se conservan restos de pisos y muros, as&iacute; como los fogones que se usaban para preparar alimentos.</p>
</div>
  <p>{% endblock %} </p>
